.programmers{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.programmer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.cost-cart{
    background-color: lightskyblue;
    position: fixed;
    margin-left: 1000px;
    padding:0 20px;
    border-radius: 10px;
}